<div class="container user-form">
  <div class="col-md-6">
    <h1>Sign In</h1>
    
    <div class="form-box">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group"><%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %></div>

        <div class="form-group"><%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %></div>

        <div><%= f.submit "Sign In", class: "btn btn-primary" %></div>
      <% end %>
    </div>    
    
    <div class="user-form-links">
      <%= render "devise/shared/links" %>
    </div>
    
  </div>
</div>